<mat-spinner *ngIf="!isLoaded"></mat-spinner>

<mat-card class="score">
  <div *ngFor="let player of players">
    <p *ngIf="players[activePlayer] === player" class="player active-player">
      {{player['user']['name']}}: {{player['user']['score']}}
    </p>
    <p *ngIf="players[activePlayer] !== player" class="player">
      {{player['user']['name']}}: {{player['user']['score']}}
    </p>
  </div>
  <h3>{{result}}</h3>
</mat-card>

<div *ngIf="isLoaded" class="card-container">
  <ng-container *ngFor="let card of cards" >
    <div *ngIf="!card['emptyCard']" class="card" (click)="toggleCard($event, card)">
      <img src="assets/card.jpg" alt="card"/>
    </div>
    <div *ngIf="card['emptyCard']" class="card" style="cursor: auto;">
    </div>
  </ng-container>
</div>

