<div id='card'>
<mat-spinner *ngIf="!isLoaded"></mat-spinner>
<div class="container">
  
  <h4>Card 1: <span *ngIf="selectedCards.card1" style="color: green">selected</span></h4>
  <h4>Card 2: <span *ngIf="selectedCards.card2" style="color: green">selected</span></h4>
  <h1>{{result}}</h1>
</div>
  <div *ngIf="isLoaded" class="card-container">
    <div *ngFor="let card of cards" class="card" (click)="toggleCard($event, card)">
      <img src="assets/card.jpg" alt="card" />
      <!--<img src="{{ card['imageUrl'] }}" alt="" />-->
    </div>
  </div>

  <div *ngIf="isLoaded" class="card-container">
    <div *ngFor="let card of cards" class="card" (click)="toggleCard($event, card)">
      <img src="assets/card.jpg" alt="card" />
      <!--<img src="{{ card['imageUrl'] }}" alt="" />-->
    </div>
  </div>
</div>