<mat-toolbar color="primary" class="toolbar" >
    <span class="hover"><div class="toolelem" [routerLink]="['/game-setup']"><h1>Game Setup</h1></div></span>
    <span class="hover"><div class="toolelem" [routerLink]="['/credits']"><h1>Credits</h1></div></span>
    <span class="example-spacer"></span>
    <span class="hover2" ><div class="toolelem" [routerLink]="['/stats']"><h1 class="username"><!--{{this.currentuser?.displayName}}-->username</h1><div class="picture"></div></div></span>
</mat-toolbar>

