
*{
    font-family: 'Baloo Chettan', cursive;
}
#card{
    display:flex;
    justify-content: center;
    align-items:center;
    height:91.75%;
    background-image: url('../../assets/dittorepeat2.png');
    background-repeat: repeat;
    background-size:400px 400px;
}
#game-setup-container{
    position:fixed;
    height:60%;
}
#button-container{
    margin-top:20px;
    height:80%;
}