<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login - Pokemon App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Login</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
</body>
</html>
